
.ellipsis {
    text-overflow: ellipsis; /* Text tràn ra ngoài chuyển thành "..." */
    white-space: nowrap; /* Phần tử nằm trên 1 dòng */
    overflow: hidden; /* Ẩn phần từ trờm ra ngoài parent */
}
.form-container{
    display: flex;
}
.card{
    cursor: pointer;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}
.content{
    margin: 0 50px;
}